{
  "openapi": "3.0.0",
  "info": {
    "title": "AutomateNow API",
    "description": "Documentation for the AutomateNow website API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://automatenow.io/"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "Retrieve information from AutomateNow website",
        "description": "This endpoint allows you to retrieve information from the AutomateNow website.\n",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string",
                  "example": "<!DOCTYPE html><html>...</html>"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Resource not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}